.container {
    padding: 0 auto;
    margin: 0 auto;
    display:flex;
    justify-content: center;
}
.flex {
    display: flex;
    align-content: center;
}
.song-text {
    justify-content: center;
    max-width: 45vw;
}